llm:
  url: https://openrouter.ai/api/v1
  model: qwen/qwen3-32b
  token: TOKEN

logging:
    app_name: RAG-bot
    graylog:
      enabled: false
      udp: false
      host: 0.0.0.0
      port: 12201
    console:
      enabled: true
    root_level: INFO
    levels:
      httpx: WARN
      openai: WARN
      uvicorn.access: WARN